<div class="media d-flex align-items-center">
    <a [routerLink]="['/shop/products/', product.name.replace(' ', '-')]">
        <img [defaultImage]="ImageSrc ? ImageSrc : 'assets/images/product/placeholder.jpg'" 
             [lazyLoad]="ImageSrc ? ImageSrc : product.images[0].imageUrl"
             class="img-fluid lazy-loading" alt="{{ product.images[0].imageUrl }}">
    </a>
	<div class="media-body align-self-center">
		<div class="rating">
			<bar-rating [rate]="5" [readOnly]="true"></bar-rating>
		</div>
        <a [routerLink]="['/shop/products/', product.name.replace(' ', '-')]">
            <h6>{{ product.name | titlecase }}</h6>
        </a>
		<h4>{{ product?.cost * currency?.price | discount:product | currency:currency?.currency:'symbol' }}</h4>
        <ul class="color-variant">
            <li [class]="color" 
                *ngFor="let color of Color(product?.categories)"
                [ngStyle]="{'background-color': color}"
                (click)="ChangeVariants(color, product)">
            </li>
        </ul>
	</div>
</div>
