<!--<div class="collection-collapse-block" [class.open]="collapse" *ngIf="filterbysize.length">-->
<!--    <h3 class="collapse-block-title" (click)="collapse = !collapse">Size</h3>-->
<!--    <div class="collection-collapse-block-content">-->
<!--      <div class="color-selector">-->
<!--        <div class="collection-brand-filter">-->
<!--&lt;!&ndash;          <div class="custom-control custom-checkbox collection-filter-checkbox"&ndash;&gt;-->
<!--&lt;!&ndash;            *ngFor="let size of filterbysize">&ndash;&gt;-->
<!--&lt;!&ndash;            <input type="checkbox" &ndash;&gt;-->
<!--&lt;!&ndash;              [value]="size"&ndash;&gt;-->
<!--&lt;!&ndash;              [checked]="checked(size)"&ndash;&gt;-->
<!--&lt;!&ndash;              [id]="size"&ndash;&gt;-->
<!--&lt;!&ndash;              (change)="appliedFilter($event)" &ndash;&gt;-->
<!--&lt;!&ndash;              class="custom-control-input" />&ndash;&gt;-->
<!--&lt;!&ndash;            <label class="custom-control-label" for="{{ size }}">{{ size }}</label>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--</div>-->
