.text-category {
  font-size: 16px;
  margin-right: 5px;
  padding: 5px 8px;
  background-color: #ff8084;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
}

.product-title {
    font-size: 20px; 
}

.text-123 {
    font-size: 16px;
}

.sold-box {
    margin: 20px 0;
    
}