<!--<div class="collection-collapse-block" [class.open]="collapse" *ngIf="filterbycolor.length">-->
<!--    <h3 class="collapse-block-title" (click)="collapse = !collapse">colors</h3>-->
<!--    <div class="collection-collapse-block-content">-->
<!--      <div class="collection-brand-filter color-filter">-->
<!--&lt;!&ndash;        <div class="custom-control custom-checkbox collection-filter-checkbox"&ndash;&gt;-->
<!--&lt;!&ndash;          *ngFor="let color of filterbycolor">&ndash;&gt;-->
<!--&lt;!&ndash;          <input &ndash;&gt;-->
<!--&lt;!&ndash;            type="checkbox" &ndash;&gt;-->
<!--&lt;!&ndash;            [value]="color"&ndash;&gt;-->
<!--&lt;!&ndash;            [checked]="checked(color)"&ndash;&gt;-->
<!--&lt;!&ndash;            [id]="color"&ndash;&gt;-->
<!--&lt;!&ndash;            (change)="appliedFilter($event)"&ndash;&gt;-->
<!--&lt;!&ndash;            class="custom-control-input" />&ndash;&gt;-->
<!--&lt;!&ndash;          <span [class]="color" [ngStyle]="{'background-color': color}"></span>&ndash;&gt;-->
<!--&lt;!&ndash;          <label class="custom-control-label" for="{{ color }}">{{ color }}</label>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--      </div>-->
<!--    </div>-->
<!--</div>-->
