<app-header></app-header>
<app-breadcrumb [title]="'TÀI KHOẢN'" [breadcrumb]="'TÀI KHOẢN'"></app-breadcrumb>
<!-- personal deatail section start -->
<section class="section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="account-sidebar">
                    <a hre="javascript:void(0)" class="popup-btn">
                        my account
                    </a>
                </div>
                <div class="dashboard-left">
                    <div class="collection-mobile-back">
                        <span class="filter-back">
                            <i class="fa fa-angle-left" aria-hidden="true"></i> back
                        </span>
                    </div>
                    <div class="block-content">
                        <ul>
                            <li><a [routerLink]="['/home/dashboard']">Thông tin tài khoản</a></li>
                            <li class="active"><a>Chỉnh sửa tài khoản</a></li>
                            <li><a [routerLink]="['/home/addresses']">Quản lý địa chỉ</a></li>
                            <!-- <li><a href="javascript:void(0)">My Wishlist</a></li>
                            <li><a href="javascript:void(0)">Newsletter</a></li>
                            <li><a href="javascript:void(0)">My Account</a></li>
                            <li><a href="javascript:void(0)">Change Password</a></li> -->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="dashboard-right">
                    <div class="dashboard">
                        <div class="page-title">
                            <h2>Chỉnh sửa thông tin</h2>
                        </div>
                        <div class="contact-page register-page section-b-space">
                            <div class="container">
                                <form class="theme-form" [formGroup]="editForm">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="name">Họ và tên</label>
                                            <input type="text" class="form-control" id="name" formControlName="fullName"
                                                placeholder="Họ và tên" required="">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="email">Ngày sinh</label>
                                            <input type="date" class="form-control" id="last-name"
                                                placeholder="Ngày sinh" formControlName="dob" required="">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="review">Email</label>
                                            <input readonly style="cursor: not-allowed;" type="text"
                                                class="form-control" id="review" formControlName="email"
                                                placeholder="Email" required="">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="email">Số điện thoại</label>
                                            <input readonly style="cursor: not-allowed;" type="text"
                                                class="form-control" id="email" placeholder="Số điện thoại"
                                                formControlName="phoneNumber" required="">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="email">CCCD/CMND</label>
                                            <input readonly style="cursor: not-allowed;" type="text"
                                                class="form-control" id="email" placeholder="CCCD/CMND"
                                                formControlName="identifiedCode" required="">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="email">Địa chỉ mặc định</label>
                                            <input readonly style="cursor: not-allowed;" type="text"
                                                class="form-control" id="email" placeholder="CCCD/CMND"
                                                formControlName="defaultAddress" required="">
                                        </div>
                                        <div class=" col-md-12">
                                            <button class="btn btn-sm btn-solid" type="submit" (click)="saveData()">Lưu
                                                thông tin</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- address section start -->
<!-- <section class="contact-page register-page section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3>SHIPPING ADDRESS</h3>
                <form class="theme-form">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="name">flat / plot</label>
                            <input type="text" class="form-control" id="home-ploat" placeholder="company name"
                                required="">
                        </div>
                        <div class="col-md-6">
                            <label for="name">Address *</label>
                            <input type="text" class="form-control" id="address-two" placeholder="Address" required="">
                        </div>
                        <div class="col-md-6">
                            <label for="email">Zip Code *</label>
                            <input type="text" class="form-control" id="zip-code" placeholder="zip-code" required="">
                        </div>
                        <div class="col-md-6 select_input">
                            <label for="review">Country *</label>
                            <select class="form-control" size="1">
                                <option value="India">India</option>
                                <option value="UAE">UAE</option>
                                <option value="U.K">U.K</option>
                                <option value="US">US</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="review">City *</label>
                            <input type="text" class="form-control" id="city" placeholder="City" required="">
                        </div>
                        <div class="col-md-6">
                            <label for="review">Region/State *</label>
                            <input type="text" class="form-control" id="region-state" placeholder="Region/state"
                                required="">
                        </div>
                        <div class="col-md-12">
                            <button class="btn btn-sm btn-solid" type="submit">Save setting</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section> -->
<!-- Section ends -->

<ng-template class="theme-modal" #successModal let-modal>
    <div class="modal-content quick-view-modal">
        <div class="modal-body">
            <button type="button" class="close float-end border-0" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="row">
                Thay đổi thông tin thành công
            </div>
        </div>
    </div>
</ng-template>