<app-header></app-header>
<app-breadcrumb [title]="'YÊU THÍCH'" [breadcrumb]="'Yêu thích'"></app-breadcrumb>
<!-- section start -->
<section class="wishlist-section section-b-space">
  <div class="container">
    <div class="col-md-12 empty-cart-cls text-center" *ngIf='!products.length'>
      <img src="assets/images/empty-wishlist.png" alt="Empty cart" title="Giỏ hàng trống">
      <h3 class="mt-4"><b>Danh sách yêu thích trống!</b></h3>
      <h4>Khám phá thêm sản phẩm và đặt nó vào danh sách yêu thích của bạn.</h4>
    </div>
    <div class="row" *ngIf="products.length">
      <div class="col-sm-12">
        <table class="table cart-table table-responsive-xs">
          <thead>
            <tr class="table-head">
              <th scope="col">Ảnh</th>
              <th scope="col">Tên sản phẩm</th>
              <th scope="col">Giá</th>
              <th scope="col">Cửa hàng</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of products">
              <td>
                <a [routerLink]="['/shop/products', product.id]">
                  <img src="{{product.images[0].imageUrl}}" alt="fashion">
                </a>
              </td>
              <td><a [routerLink]="['/shop/products', product.id]">{{ product.name }}</a>
                <!-- <div class="mobile-cart-content row">
                                    <div class="col">
                                        <p>in stock</p>
                                    </div>
                                    <div class="col">
                                        <h2 class="td-color">{{ product.cost | currency:'VND' }}</h2>
                                    </div>
                                    <div class="col">
                                        <h2 class="td-color">
                                            <a [routerLink]="['/shop/product/left/sidebar/trim-dress']"
                                                class="icon me-1">
                                                <i class="ti-close"></i>
                                            </a>
                                            <a [routerLink]="['/shop/product/left/sidebar/trim-dress']" class="cart">
                                                <i class="ti-shopping-cart"></i>
                                            </a>
                                        </h2>
                                    </div>
                                </div> -->
              </td>
              <td>
                <h2>{{ product.cost | currency:'VND' }}</h2>
              </td>
              <td>
                <p>{{ product.shop.name }}</p>
              </td>
              <td>
                <a (click)="openDeleteModal(product.id)" class="icon me-3">
                  <i class="ti-close"></i>
                </a>
                <!-- <a [routerLink]="['/shop/product/left/sidebar/trim-dress']" class="cart">
                                    <i class="ti-shopping-cart"></i>
                                </a> -->
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- <div class="row wishlist-buttons">
            <div class="col-12">
                <a [routerLink]="['/shop/collection/left/sidebar']" class="btn btn-solid">continue shopping</a>
                <a [routerLink]="['/shop/checkout']" class="btn btn-solid">check out</a>
            </div>
        </div> -->
  </div>
</section>
<!--section end-->

<ng-template class="theme-modal" #DeleteModal let-modal>
  <div class="modal-content quick-view-modal">
    <div class="modal-body">
      <button type="button" class="close float-end border-0" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="theme-form">
        <div class="row">
          <div class="col-md-12">
            <label for="name">Bạn chắc chắn muốn xoá sản phẩm khỏi danh sách yêu thích ?</label>
          </div>
          <div class=" col-md-12">
            <hr>
            <button class="btn btn-sm btn-solid" type="submit" (click)="deleteLoveProduct()">Tiếp
              tục</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template class="theme-modal" #MessageModal let-modal>
  <div class="modal-content quick-view-modal">
    <div class="modal-body">
      <button type="button" class="close float-end border-0" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="row">
        {{ message }}
      </div>
    </div>
  </div>
</ng-template>